body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', 'Noto Sans TC', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F6FF;
  color: var(--text-medium);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
  font-weight: bold;
}

:root {
  --main: #0077FF;
  --light: #486AE8;
  --tint: #99BADD;
  --text-medium: #7D7D7D;
}